@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #010a44;
    --background: 246 99.85% 98.28%;
    --foreground: 246 9.7% 0.56%;

    --muted: 246 9.7% 91.4%;
    --muted-foreground: 246 4.85% 41.4%;

    --popover: #fff;
    --popover-foreground: #fff;

    --card: 246 12.400000000000006% 91.4%;
    --card-foreground: 246 9.7% 0.7000000000000001%;

    --border: 246 14.7% 89.56%;
    --input: 246 14.7% 89.56%;

    --primary: 246 97% 14%;
    --primary-foreground: 246 1.94% 91.4%;

    --secondary: 16 94% 48%;
    --secondary-foreground: 16 9.399999999999999% 4.8%;

    --accent: 16 94% 48%;
    --accent-foreground: 16 9.399999999999999% 4.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 246 97% 14%;

    --radius: 0.5rem;
  }
}

html::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Home swiper section */
.home-swiper {
  @apply relative h-[400px] !p-[10px] xl:w-1/2 w-full xl:px-0;
}

.home-swiper-heading {
  @apply text-2xl flex-1 leading-10 xl:pr-[calc((100vw_-_1400px)_/_2)] xl:pl-0 px-5;
}

.custom-btn::after {
  @apply absolute z-[2] block content-[''] w-6/12 h-full skew-x-[-25deg] -left-3/4 top-0 transition-all duration-500;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
}

.section-heading-2 {
  @apply text-3xl md:text-4xl xl:text-[50px] sm:!leading-[1.2];
}
