@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #010a44;
    --background: 246 99.85% 98.28%;
    --foreground: 246 9.7% 0.56%;

    --muted: 246 9.7% 91.4%;
    --muted-foreground: 246 4.85% 41.4%;

    --popover: #fff;
    --popover-foreground: #fff;

    --card: 246 12.400000000000006% 91.4%;
    --card-foreground: 246 9.7% 0.7000000000000001%;

    --border: 246 14.7% 89.56%;
    --input: 246 14.7% 89.56%;

    --primary: 246 97% 14%;
    --primary-foreground: 246 1.94% 91.4%;

    --secondary: 16 94% 48%;
    --secondary-foreground: 16 9.399999999999999% 4.8%;

    --accent: 16 94% 48%;
    --accent-foreground: 16 9.399999999999999% 4.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 246 97% 14%;

    --radius: 0.5rem;
  }
}
